.no-course-group {
    text-align: center;
}

.course-title {
    text-align: center;
}

.course-group {
    padding-left: 50px;
    padding-right: 50px;
}

.table-custom {
    background-color: #F4F1DE;
}